.characterCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('[https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/book.png?raw=true]');
  background-size: cover;
  height: fit-content;
  width: auto;
  margin-bottom: 25px;
  font-family: 'whisper';
}

.characterCardHeader {
  background-color: rgba(128, 128, 128, 0.336);
  width: 100%;
  text-align: center;
  font-size: 26pt;
}

.profile {
  position: relative;
  margin: auto;
  height: 225px;
  width: 225px;
  border-radius: 50%;
}

.bookText{
  background-color: rgba(128, 128, 128, 0.336);
  color: black;
  font-size: 22pt;
}

@media only screen and (max-width: 390px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}