.characterCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('[https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/book.png?raw=true]');
  background-size: cover;
  height: fit-content;
  width: auto;
  margin-bottom: 25px;
  font-family: 'whisper';
}

.characterCardHeader {
  background-color: rgb(220, 205, 191);
  width: 100%;
  text-align: center;
  font-size: 26pt;
  margin: 0;
}

.profile {
  position: relative;
  margin: auto;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  margin: 25px 25px;
  opacity: 0.9;
  
}

.bookText{
  background-color: rgb(220, 205, 191);
  color: black;
  font-size: 22pt;
  width: 100%;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 390px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}