.characterList {
    background-image: url('https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/library.png?raw=true');
    background-size: cover;
}

.pageHeader {
    text-align: center;
    font-size: 32pt;
    width: 100%;
    font-family: "Cinzel Decorative", serif;
    color: rgb(220, 205, 191);
    background-color: rgba(0, 0, 0, 0.432);
    margin: 0;
}