.landingScreen{
    background-image: url("https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/background.png?raw=true");
    background-size:cover;
  }
  
.pageHeader{
  text-align: center;
  font-size: 32pt;
  width: 100%;
  font-family: "Cinzel Decorative", serif;
  color: rgb(220,205,191);
  background-color: rgba(0, 0, 0, 0.432);
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 75px; 
    padding: 10px; 
  }

  .pictureContainer {
    width: 300px;
    background-image: url('https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/landingPage.png?raw=true');
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 10px 10px 20px;
    text-align: center;
    display: inline-block;
    position: relative;
    font-family: 'whisper';
    font-size: 30pt;
    transition: transform 0.2s ease;
  }

  
  .pictureContainer:hover {
    transform: rotateZ(-5deg) translateY(-10px);
  }
  
  .pictureContainer img {
    width: 100%;
    border: 1px solid #f2f2f2;
  }
  
  .pictureContainer .text {
    color: rgb(220,205,191);
    margin-top: 10px;
  }

  @media only screen and (max-width: 390px) {
    .grid {
    display: flex;
    flex-direction: column;      
    }
  }