/* NavBar */
a {
    color: black;
}
#navBar {
  background-image: url(https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/navMap.jpg?raw=true);
}

#navLogo {
  position: relative;
  height: 10%;
  width: 10%;
  left: 45%;
  border-radius: 50%;
}

#pageTitle {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 28pt;
  font-weight: 700;
  margin: 0px;
}

#pageSubTitle {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 16pt;
  font-weight: 400;
  margin: 0px;
}

#navLinks {
display: flex;
text-align: center;
justify-content: space-evenly;
background-color: rgba(255, 255, 255, 0.4);
font-size: 14pt;
}
