/* Fonts */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Background */
.pageContent {
  background-image: url("https://github.com/lerodriguezreyes/dnd-character-generator/blob/main/src/assets/otherPagesBackground.png?raw=true");
  background-size: cover;
  max-width: 100vw;
  max-height: 100vh;
}

#navBar {
  max-width: 100vw;
  max-height: 5vh;
}

#footer {
  max-width: 100vw;
  max-height: 5vh;
}

/*  Landing Screen with Polaroid effect */
.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.polaroid > img {
  max-width: 100%;
  max-height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.picture {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.picture .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.picture:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.picture:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.picture:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.picture:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.picture:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.picture:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.picture:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.picture:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.picture:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.picture:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

/* NavBar */

#navBar {
  background-image: url();
}

#pageTitle {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  font-size: 30pt;
  font-weight: 700;
  margin: 5px;
}

#pageSubTitle {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
  font-size: 18pt;
  font-weight: 400;
  margin: 0px;
}

#navLogo {
  position: relative;
  height: 10%;
  width: 10%;
  left: 45%;
  border-radius: 50%;
}

#navLinks {
  text-align: center;
}

/* Footer */
#footer {
  text-align: center;
}

.spread {
  margin: 0 40px 0 40px;
}

/*  Add character form */
.addCharacter {
  width: 100%;
  text-align: center;
  font-family: "whisper", cursive;
  font-size: 20pt;
  margin: 5px;
  margin-bottom: 0;
}

.container {
  display: grid;
  grid-template-columns: 10% 20%;
}

.addCharacter label {
  box-shadow: 0 0 5px grey;
  background-color: rgba(255, 255, 255, 0.2);
  width: 15%;
  display: block;
  margin: 0 auto;
}

.addCharacter input,
select,
option {
  display: inline-block;
  font-family: "whisper";
  font-size: 16pt;
  margin: 0 auto;
  box-shadow: 0 0 15px grey;
  background-color: rgba(255, 255, 255, 0.45);
}
